.Rproj.user
.Rhistory
.RData
.Ruserdata
workflow_MH.Rmd
workflow_olatz.Rmd
FASTQ_RNA-seq
FASTQ_ChIP-seq
krasny-torpedo.Rproj
fastQC_ChIP-seq
genome
FASTQ_files_ChIP-seq
BAM_ChIP-seq
BAM_files_ChIP-seq
todo
images
igv_session_ChIP-seq.xml
genes_to_plot.bed
FASTQ_files_RNA-seq
BAM_RNA-seq
BAM_files_RNA-seq
fastQC_RNA-seq
coverage_ChIP-seq
coverage_RNA-seq
DESeq2results_rnjAKO_vs_WT.SIG.txt
DESeq2results_rnjAKO_vs_WT.txt
